section {
  height: 100vh;
  scroll-snap-align: center;
}

html {
  overscroll-behavior-y: none;
//   scroll-behavior: smooth;
}

body{
    background-color: #0c0c1d;
    color: lightgray;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

a{
    text-decoration: none;
    color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM sans", sans-serif;
}

